.toolbar{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  columns: 2;
  column-gap: 40%;
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 1%, rgba(9,9,121,1) 70%, rgba(2,0,36,1) 100%);
  overflow: hidden;
}
.toolbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.toolbar a:hover {
  background-color: #6b1919;
  color: black;
}
.toolbar a.active {
  background-color: #9900ff;

}
